

<?php
$username = $form->get('username');
$username->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);

$password = $form->get('password');
$password->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('login'));
$form->prepare();

?>
<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/demo/favicon.png">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Login</title>
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Roboto:400" rel="stylesheet" type="text/css">
        <link href="/assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
        <link href="/assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
        <link href="/assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <!-- Head Libs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>

    <body class="body-bg-full profile-page" style="background-image: url(/assets/demo/error-page.jpg)">
        <div id="wrapper" class="row wrapper">
            <div class="container-min-full-height d-flex justify-content-center align-items-center">
                <div class="login-center">
                    <div class="navbar-header text-center mb-5">
                        <a href="index.html">
                            <img alt="" src="/assets/img/logo-expand.png">
                        </a>
                    </div>
                    <!-- /.navbar-header -->
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="form-group">
                        <?= $this->formLabel($username); ?>
                        <?= $this->formElement($username); ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($password); ?>
                        <?= $this->formElement($password); ?>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600" type="submit">Login</button>
                    </div>
                    <div class="form-group no-gutters mb-0">
                        <div class="col-md-12 d-flex">
                            <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
                                <label class="d-flex">
                                    <input type="checkbox"> <span class="label-text">Permacer Conectado</span>
                                </label>
                            </div><a href="javascript:void(0)" id="to-recover" class="my-auto pb-2 text-right"><i class="material-icons mr-2 fs-18">lock</i> Esqueceu a Senha?</a>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.form-group -->
                    <?php
                    echo $this->form()->closeTag();

                    ?>
                    <!-- /.form-material -->

                </div>
                <!-- /.login-center -->
            </div>
            <!-- /.d-flex -->
        </div>
        <!-- /.body-container -->
        <!-- Scripts -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/material-design.js"></script>
    </body>

</html>

